<section class="bg-primary" id="about">
    <script src="https://kit.fontawesome.com/0108f82120.js" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">DevOps solution is what I've got!</h2>
                <hr class="light">
                <p class="text-faded">I can automate the infrastructure with all the latest tools used in the cloud and well versed with multi-cloud environment!</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
