<header>
    <script src="https://kit.fontawesome.com/0108f82120.js" crossorigin="anonymous"></script>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to shree.uk!</h1>
            <hr>
            <p>I will help you build the automation for your infrastructure using AWS/Azure/Terraform/Jenkins/Docker/Kubernetes and more. This could be your one stop DevOps solution for your project. Get in touch to know more.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
